body {
    font-family: 'Roboto', sans-serif;
}

main::-webkit-scrollbar {
    display: none;
}

textarea::-webkit-scrollbar, .contatos::-webkit-scrollbar {
    display: none;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    width: 100vw;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    box-shadow: 0px 4px 6px 0px rgba(0, 0 , 0 ,0.05);
}

header img {
    width: 75px;
    height: 53px;

    margin-left: 22px;
}

header ion-icon {
    height: 30px;
    width: 42px;

    margin-right: 22px;
}

/* configuracao do corpo principal */

main {
    height: 80vh;
    padding-top: 26px;
    padding-bottom: 26px;
    box-sizing: border-box;

    margin-bottom: 10vh;
    margin-top: 10vh;

    background-color: #E5E5E5;
    overflow-y: scroll;
}

li {
    height: auto;
    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;

    font-size: 14px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100vw;
}

li span {
    margin-top: 10px;
    margin-bottom: 10px;

    line-height: 20px;
}

#time {
    color: #AAAAAA;
    font-weight: 300;
}

.joinChat {
    background-color: #DCDCDC;
}

.defaultlMsg {
    background-color: #ffffff;
}

.privateMsg {
    background-color: #FFDEDE;
}

.quitChat {
    background-color: #DCDCDC;
}

/* configuracao do footer */


footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;

    box-shadow: 0px 4px 6px 0px rgba(0, 0 , 0 ,0.05);
}

.priFooter {
    display: flex;

    flex-direction: column;

    margin-left: 20px;
    
}

.secFooter {
    margin-right: 20px;
}

.priFooter span{
    color: #505050;
    font-weight: 300;

    font-size: 14px;
    font-style: italic;
}

footer textarea {
    border: none;
    width: 80%;

   /*  margin-left: 17px; */

    overflow-x: scroll;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    font-family: 'Roboto', italic;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

footer textarea:focus {
    box-shadow: 0 0 0 0;

    outline: 0;
}

footer ion-icon {
    /* margin-right: 17px; */
    width: 26px;
    height: 26px;
}

/* estilizacao dos menu participantes */

section {
    position: fixed;

    display: flex;

    width: 100vw;
    height: 100vh;

    top: 0;
    right: 0;

    z-index: 2;

    overflow-y: scroll;
}

.escuro {
    width: 30vw;
    height: 100%;

    background-color: black;
    opacity: 0.6;


    overflow-y: scroll;
}

.contatos {
    width: 70vw;
    height: 100%;

    background-color: white;

    overflow-y: scroll;
}

.contatos h1 {
    height: 84px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.pessoas ion-icon, .tipoDaMensagem ion-icon {
    width: 25px;
    height: 25px;

    margin-right: 10px;
}

ion-icon[name="checkmark"]{
    color: green;
    width: 20px;
    height: 20px;

}

.pessoas div, .tipoDaMensagem div {
    display: flex;
    align-items: center;
}

.pessoas, .tipoDaMensagem {
    margin-left: 18px;
}

.pessoasAtt, .tipoAtt, .tipoAtt2 {
    display: flex;

    justify-content: space-between;
}

/* classe escondido */

.escondido {
    display: none;
}

.escondido1{
    display: none;
}

.escondido2 {
    visibility: hidden;
}